.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
/* Class cho snackbar lỗi */
.error-snackbar {
    background-color: #f44336; /* Màu đỏ */
  }
  
  /* Class cho snackbar thành công */
  .success-snackbar {
    background-color: #4caf50; /* Màu xanh lá */
  }
  