<div class="img js-fullheight" style="background-image: url(/images/train4.jpg); height: 100%; padding-top: 70px;">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Welcome to Railway Online Transaction</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Login to your account</h3>
						<form class="signin-form" [formGroup]="form" (ngSubmit)="login()">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" formControlName="username" required>
							</div>
							<div class="form-group">
								<input id="password-field" type="password" class="form-control" placeholder="Password" formControlName="password" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
						</form>
		      		</div>
				</div>
			</div>
		</div>
	</section>
</div>