
<div class="flex items-center flex-col h-screen hero" style="background-image: url('/images/d1.webp'); background-size: cover; background-position: center;">
    <div class="w-full max-w-5xl py-8 px-8 bg-opacity-40 bg-gray-900 rounded-md shadow-lg" style="margin-top: 80px;">
      <h1 class="text-4xl  font-extrabold text-white text-center mb-4">Dailycash Transaction</h1>
      <div class = "searchinput">
        <!-- Input để người dùng chọn ngày -->
        <label for="startDate" class="text-white">Chọn ngày bắt đầu:</label>
        <input type="date" id="startDate" [(ngModel)]="selectedDate" (change)="onDateChange($event)" />
      </div>
      
      <div id="chart">
        <apx-chart
          [series]="series"
          [chart]="chart"
          [xaxis]="xaxis"
          [yaxis]="yaxis"
          [stroke]="stroke"
          [dataLabels]="dataLabels"
          [title]="title"
          [legend]="legend"
          [markers]="markers"
        ></apx-chart>
      </div>
      
    </div>
</div>
