<div class="flex items-center flex-col h-screen hero" style="background-image: url('/images/new7.png'); background-size: cover; background-position: center;">
    <div class="w-full max-w-5xl py-8 px-8 bg-opacity-40 bg-gray-900 rounded-md shadow-lg mt-20">
        <h1 class="text-4xl font-extrabold text-white text-center mb-8">Train Ticket Booking</h1>

        <div class="overflow-x-auto bg-white shadow-md rounded-lg">
            <table class="min-w-full table-auto rounded-lg overflow-hidden">
                <thead class="bg-blue-500 text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Train ID</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Departure Time</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">Arrival Time</th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">   </th>
                        <th class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider"></th>
                    </tr>
                    <tr class="bg-gray-200">
                        <th colspan="3"></th> <!-- Ô trống cho các cột không liên quan đến giá vé -->
                        <th class="text-center">
                          <div class="flex justify-around">
                            <span>Standard</span> <!-- Tên khoang Standard -->
                            <span>1st Class</span> <!-- Tên khoang 1st Class -->
                            <span>2nd Class</span> <!-- Tên khoang 2nd Class -->
                          </div>
                        </th>
                        <th></th>
                      </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let train of fareschedule$ | async">
                        <td class="px-6 py-4 whitespace-nowrap">{{ train.trainID }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ train.departureTime }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ train.arrivalTime }}</td>      
                        <div class="flex items-center justify-start space-x-4"  > <!-- Flexbox để căn ngang các lựa chọn -->
                        <!-- Sử dụng một tên duy nhất cho mỗi nhóm radio buttons dựa trên trainID -->
                        <td class="px-6 py-4 whitespace-nowrap">
                            
                            <!-- Standard (AC3) -->
                            <label class="flex items-center">
                                <input type="radio" name="fare-{{ train.scheduleID }}"  value="AC3" (change)="onFareChange($event)"/>
                                <span class="ml-2">$ {{ train.FareAC3 }} </span>
                            </label>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <!-- 1st class (AC1) -->
                            <label class="flex items-center">
                                <input type="radio" name="fare-{{ train.scheduleID }}" value="AC1" (change)="onFareChange($event)"/>
                                <span class="ml-2">$ {{ train.FareAC1 }} </span>
                            </label>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <label class="flex items-center">
                                <input type="radio" name="fare-{{ train.scheduleID }}" value="AC2" (change)="onFareChange($event)"/>
                                <span class="ml-2">$ {{ train.FareAC2 }}</span>
                            </label>
                        </td>
                        </div>
                   
                        <td class="px-6 py-4 whitespace-nowrap">
                            <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" 
                                (click)="openModal(train.FareAC1, train.FareAC2, train.FareAC3,train.trainID)">
                                Book Ticket
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination Controls -->
        <div class="flex justify-between items-center mt-6 text-white">
            <button 
              class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg" 
              [disabled]="currentPage === 1" 
              (click)="onPreviousPage()">
                Previous
            </button>
            <span class="text-lg font-semibold">Page {{currentPage}}</span>
            <button 
              class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg" 
              (click)="onNextPage()">
                Next
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center">
        <div class="bg-white rounded-lg p-8 shadow-lg w-full max-w-md">
            <h2 class="text-2xl font-bold mb-4">Confirm Booking</h2>
            <p>Are you sure you want to book a ticket?</p>
            <form>
                <!-- Passenger Details -->
                <div class="mt-4">
                    <label class="form-label1" for="form3Example1c">Full Name:</label>
                    <input type="text" [(ngModel)]="Name" name="Name" class="w-full p-2 border rounded" placeholder="Enter your full name">
                </div>
                <div class="mt-4">
                    <label class="form-label1" for="form3Example1c">Age:</label>
                    <input type="text" [(ngModel)]="Age" name="Age" class="w-full p-2 border rounded" placeholder="Enter your age">
                </div>
                <div class="mt-4">
                    <label class="form-label1" for="form3Example1c">Gender:</label>
                    <select [(ngModel)]="Gender" name="Gender" class="w-full p-2 border rounded">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                
                <!-- Compartment Type Selection -->
                
                <div class="mt-4" *ngIf="Availableseattype1">
                    <p *ngIf="AvailableSeat$ | async as availableSeat">Available Seat: {{ availableSeat.totalAvailableSeatType1}}</p>
                </div>
                <div class="mt-4" *ngIf="Availableseattype2">
                    <p *ngIf="AvailableSeat$ | async as availableSeat">Available Seat: {{ availableSeat.totalAvailableSeatType2}}</p>
                </div>
                <div class="mt-4" *ngIf="Availableseattype3">
                    <p *ngIf="AvailableSeat$ | async as availableSeat">Available Seat: {{availableSeat.totalAvailableSeatType3}}</p>
                </div>
                <!-- Display fare based on selected compartment -->
                <div class="mt-4">
                    <p>Selected Fare: ${{ selectedFare }}</p>
                </div>

                <!-- Buttons -->
                <div class="mt-4 flex justify-end">
                    <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2" (click)="closeModal()">Cancel</button>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                        (click)="onSubmit( Name, Age, Gender, CompartmentType)">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
